  :root{
    --branding-color: #8aa2a0;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family:"Poppins", sans-serif;
    --secondary-color: #b8c3bd;
  }

  body{
    font-family: var(--default-font-family);
  }

 h1,h2,h3,h4,h5,h6{
color: black;
font-family: var(--heading-font-family);
font-weight: bold;
}

  h1{
    font-size: 98px;
    line-height: 1.5;
  }

  h2{
    font-size: 64px;
  }

p{
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

  .hero{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
  }

  .hero p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
  }

  .hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
    color: #272142;
  }

  .btn-branding {
    background-color: var(--branding-color);
      border-radius: 4px;
      color: white;
      font-size: 18px;
      line-height: 27px;
      padding: 15px 30px;
  }

  .btn-branding-outline{
      border-radius: 4px;
      color: var(--branding-color);
      font-size: 18px;
      line-height: 27px;
      text-decoration: none;
      text-transform: capitalize;
      padding: 15px 30px;
      border: 1px solid var(--branding-color);
  }

  .project-description{
    padding: 120px 60px 0 60px;
  }

  @media (max-width: 900px){
    h1{
      font-size: 44px;
      line-height: 1.5;
    }
    h2{
      font-size: 44px;
    }
    .hero{
      padding: 80px 20px;
    }
    .project-description{
      padding: 0;
      text-align: center;
    }
  }
