  /*font-family: "Poppins",sans-serif;
  /*font-family: "Playfair Display",serif;*/

  :root{
    --branding-color: #8aa2a0;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family:"Poppins", sans-serif;
    --secondary-color: #b8c3bd;
  }

  body{
    font-family: var(--default-font-family);
  }

 h1,h2,h3,h4,h5,h6{
color: black;
font-family: var(--heading-font-family);
font-weight: bold;
}

  h1{
    font-size: 98px;
  }

p{
  font-weight: normal;
}

  .hero{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
  }

  .hero p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
  }

  .hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
    color: #272142;
  }

  .btn-branding {
    background-color: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
  }